:root {
  --bs-primary: #6a0572;  
  --bs-primary-rgb: 106, 5, 114;

  --bs-secundary: #00796b;
  --color-text: #333333;
  --bs-secundary-rgb: 0, 121, 107;

  --bs-info: #fca311;
  --bs-info-rgb: 252, 163, 17;

  --bs-dark: #2b2b42;
  --bs-dark-rgb: 43, 43, 66;

  --bs-body-font-family: 'roboto', sans-serif;
}

body {
  background-color: #e0f2f7;
    color: var(--color-text);
    font-family: var(--bs-body-font-family);

  
}

.mi-boton {
  font-weight: bold;
  border-radius: 50px;
  padding: 15px 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.mi-segundo-boton {
  border-color: var(--bs-secundary);
  color: var(--bs-secundary);   
  transition: all 0.3s ease;
}

.mi-segundo-boton:hover {
  background-color: var(--bs-secundary);
  color: white;

}
.mi-tarjeta-especial:hover 
{

    transform: scale(1.05);
    transition: transform 0.3s ease;
    background-color: #e7e5e2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.mi-tarjeta-especial .card-title {
    font-weight: bold;
    color: #4a148c;
}

.mi-tarjeta-especial .btn-info:hover
{
    background-color: var(--bs-info);
    border-color: var(--bs-info);
    transform: scale(1.05);
}
.mi-tarjeta-especial .btn-info {
    background-color: var(--bs-info);
    border-color: var(--bs-info);
    transition: all 0.3s ease;
    
}

@media (max-width: 768px)
{
  .p-5-bg-light.rounded-3 h1 {
    font-size: 2em;
      }
    .p-5-bg-light.rounded-3 p {
    font-size: 1em;    
}
.mi-boton {
    padding: 10px 20px;
    font-size: 0.9em;
  }
  .mi-segundo-boton {
    padding: 10px 25px;
    
  }
}